{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<style>
    body{width: 30%; margin-left:auto;margin-right:auto}
    .form-input{display:flex; flex-direction: column}
    input{border: 1px solid grey;border-radius:4px; width:100%}
</style>
    <h1 class="text-center">S'inscrire</h1>


    {{ form_start(registrationForm) }}
    <form class="form">
        <div class="form-input mt-2">
        {{ form_label(registrationForm.email, 'Email')}}
        {{ form(registrationForm.email) }}
        </div>
        <div class="form-input mt-2">
        {{ form(registrationForm.plainPassword) }}
        </div>
         <div class="form-input mt-2">
         {{ form_label(registrationForm.first_name, 'Prénom')}}
        {{ form(registrationForm.first_name) }}
        </div>
        <div class="form-input mt-2">
        {{ form_label(registrationForm.last_name, 'Nom')}}
        {{ form(registrationForm.last_name) }}
        </div>

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary mt-2">S'inscrire</button>
        </form>
    {{ form_end(registrationForm) }}

{% endblock %}
