{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container{margin-left: auto; margin-right:auto}
    .row{justify-content:center}
</style>

  <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Mon profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mes commandes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mon panier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Me deconnecter</a>
        </li>
        </ul>


<div class="container">
  <div class="row">
   <div class="card col-4 m-2" style="width: 18rem;">
   <img src="{{ restaurant.getImage()}}" class="card-img-top" alt="{{ restaurant.getName() }}">
  <div class="card-body">
    <h5 class="card-title">Restaurant : {{restaurant.getName()}}</h5>
    <p class="card-text">Adresse : {{restaurant.getAdress()}}</p>
   <p class="card-text">Téléphone : {{restaurant.getPhone()}}</p>
  </div>
</div>



  </div>
</div>
{% endblock %}
